<div>
  <%= render "navigation/navigation" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Users <span class="font-normal text-2xl">(<%= @users.count %>)</span></h1>
    <%# <%= link_to 'New course', new_course_path, class: "rounded-lg my-2 py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div>
    <% @users.each do |user| %>
      <%= render 'users/user', user: user %>
    <% end %>
  </div>

</div>
