/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 */

main {
  flex-direction: column;
}
 
nav {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
user-select: none;
}

 /* a {
  display: inline-block;
 } */
 /* a {
  color: blue;
  text-decoration: underline;
 } 

 a:hover {
  color: blue;
  text-decoration: underline;
 } */

button {
color: darkblue;
}

button:hover {
color: blue;
text-decoration: underline;
}

trix-editor > blockquote {
  border: 0 solid #ccc;
  border-left-width: 0.3em;
  margin-left: 0.3em;
  padding-left: 0.6em
}

trix-editor > a {
  cursor: pointer;
  color: rgb(103, 103, 255);
}

a {
  color: blue;
  cursor: pointer;
}

trix-editor > pre {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-family: monospace;
  font-size: 0.9em;
  padding: 0.5em;
  white-space: pre;
  background-color: #eee;
  overflow-x: auto;
}

trix-editor > ol {
  list-style-type: decimal;
  margin-left: 1.5em;
}

trix-editor > ul {
  list-style-type: disc;
  margin-left: 1.5em;
}

.center {
  margin: auto;
  width: 70%;
}

.deleteColor {
color: maroon;
}

.deleteColor:hover {
color: red;
text-shadow: maroon;
}

.link-style {
color:#0c7cc7;
}

.button-style {
  color: black;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
}

#dropdownNavbar {
  position: absolute;
  /* background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; */
}

#dropdownNavbar > ul > li > a {
  color: lightgray;
}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.message-banner {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 10px 15px;
  width: 100%;
}

.success-message {
  background-color: hsl(145, 100%, 95%, 0.5);
  color: darkgray;
}

.error-message {
  background-color: hsl(0, 100%, 85%, 0.5);
  color: #D32F2F;
}

.close-button {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
  display: inline-block;
}

.passwordHint {
  font-size: small;
}

.bait {
  padding: 20px;
}

.bait > h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.bait > span {
  display: block;
  font-size: 0.95rem;
  line-height: 1.25rem;
}

.card {
  max-height: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .font-normal a {
  color: #007bff;
  text-decoration: underline;
}

.card-columns {
  column-count: 3;
  column-gap: 10px;
}

